@font-face {
  font-family: AvenirNext;
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
}

@layer base {

  body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: AvenirNext, Helvetica, sans-serif;
    height: 100vh;
  }

  .top-nav {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .main-section {
    display: flex; justify-content: center; align-items: center;
  }
  
}

@layer comps {
  .canvas {
    background-color: gray;
    width: 500px;
  }
}