@layer base {
  body {
    background-color: black;
    height: 100vh;
    margin: 0;

    display: flex; flex-direction: column; gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}