.logo-wordmark-container {
  transition-property: scale; transition-duration: .2s; transition-timing-function: ease;
}

.logo-wordmark {
  width: calc(100vw * .25);
  max-width: 400px; min-width: 300px;

  &:hover {
    .logo-wordmark-container {
      scale: 1.05;
    }
  }
  
}

@media screen and (pointer: fine) {
  .logo-wordmark-container {
    cursor: pointer;
  }
}

.logo-wordmark-path {
  fill: white;
}