.nav-container {
  display: flex;
  gap: clamp(1rem, 100vw * .025, 3rem);
}

@media  (pointer: fine) {
  .nav-container {
    flex-direction: column;
    gap: 0;
    position: absolute; left: 0; top: 0;
    margin: 2rem;
  }
}

@media  (width < 550px) {
  .nav-container {
    flex-direction: column;
  }
}

.nav-btn {
  width: calc(100vw * .15);
  max-width: 200px; min-width: 135px;
  cursor: pointer;

  &:hover {
    .highlight {
      scale: 1 1;
    }
    .nav-text {
      scale: .95;
      fill: var(--brandColor);
      stroke: black; stroke-width: 3; stroke-linecap: round; stroke-linejoin: round;
      paint-order: stroke markers fill;
    }
  }
}

.nav-text {
  font-family: AvenirNext; font-weight: bold; text-transform: uppercase;
  transition-property: scale, fill; transition-duration: .25s; transition-timing-function: ease;
  user-select: none;
  fill: white;
  text-anchor: middle;
  dominant-baseline: middle;
}

.highlight {
  scale: 0 1;
  rx: 1;
  fill: var(--brandColor);
  transition-property: scale; transition-duration: .5s; transition-timing-function: ease-in-out;
}

.back-anchor {
  position: absolute; top: 0; right: 0;
  margin: 16px 50px;
}

.back-btn {
  min-width: 35px;
}

.back-arrow {
  fill: var(--brandColor);
}