@layer body {
  .solus-base {
    fill: var(--primeColor);
  }

  .solus-mouth {
    stroke: black;
    stroke-width: var(--stStrokeWidth);
  }

  .hair {
    stroke: black;
    stroke-width: calc(var(--stStrokeWidth)*1.3);
  }
}

@layer origin {
  .origin-marker.solus {
    fill: red;
  }
}