@font-face {
  font-family: AvenirNext;
  src: url('../Fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} /* Avenir Next - Reg */
@font-face {
  font-family: AvenirNext;
  src: url('../Fonts/AvenirNext/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} /* Avenir Next - Bold */

.header-section {
  color: white;
  height: 100vh;
  font-family: AvenirNext;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

@layer logo {

  #logo {
    max-width: 300px;
    background-color: hsl(0, 0%, 15%);
  }

  .logo-word-mark {
    fill: white;
    scale: .5;

    mask: url(#mask1);
    mask-mode: alpha;
  }
  
}

@layer masks {
  .mask1 {
    filter: blur(5px);
  }
}