@font-face {
  font-family: AvenirNext;
  src: url('../Fonts/AvenirNext/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} /* Avenir Next - Reg */
@font-face {
  font-family: AvenirNext;
  src: url('../Fonts/AvenirNext/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} /* Avenir Next - Bold */

.header-section {
  color: white;
  height: 100vh;
  font-family: AvenirNext;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

@layer logo {

  #logo {
    max-width: 250px;
    cursor: pointer;
  }

  .logo-word-mark-container {

    &.vfx {
      mask: url(#mask1);
      mask-mode: alpha;
    }
  }

  .logo-word-mark {

    fill: white;
    scale: .7;

  }

  .logo-word-mark.vfx {
    fill: var(--brandColor);
    stroke: var(--brandColor);
    stroke-width: 1;
    opacity: .5;
  }
  
}

@layer masks {
  .mask1 {
    filter: blur(5px);
  }
}