@layer display {
  .main-display {
    background-color: hsl(0, 0%, 15%);
    max-width: 400px;
  }

  .origin-marker {
    fill: red;

    &.character {
      fill: none;
      stroke: rgb(9, 145, 155);
      stroke-width: .5;
      scale: .8;
    }
    
  }
  
}

@layer grid {
  .grid-line {
    fill: none;
    stroke: rgb(48, 48, 48);
    opacity: 1;
    stroke-width: 3;
    stroke-linecap: round;
  }
}