@layer display {
  .main-display {
    background-color: hsl(0, 0%, 15%);
    max-width: 400px;
  }

  .origin-marker {
    fill: red;
  }
  
}

@layer comps {
  .canvas {
    max-width: 600px;
    background-color: rgb(128, 128, 128);
  }

  .path {
    fill: none; stroke: hsl(180, 70%, 35%); stroke-width: 1; stroke-linecap: round;
  }
}