@layer base {
  body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@layer display {
  .main-display {
    background-color: hsl(0, 0%, 10%);
    margin: 2rem;
    max-width: 800px;
  }

  .origin-reference {
    fill: red;
  }

  .floor {
    stroke-width: 1;
    stroke: white;
    fill: none;
  }
}

@layer character {
  .character-body {
    fill: white;
  }

  .character-eye {
    fill: black;
  }

  .character-mouth {
    stroke: black;
    stroke-width: calc(var(--stStrokeWidth)*.35);
    fill: none;
  }
}