@font-face {
  font-family: AvenirNext;
  src: url('./assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: AvenirNext;
  src: url('./assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: regular;
}

@layer base {

  body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    display: flex;
  }
  
}