@layer base {
  body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@layer display {
  .main-display {
    background-color: var(--bgColor);
    max-width: 800px;
    margin: 3rem;
  }

  .ground {
    stroke: var(--primeColor);
    stroke-width: calc(var(--strokeWidth)/2);
  }
}

@layer character {
  .character-base {
    fill: var(--secondColor);
    scale: 1 1;
  }

  .character-hair {
    stroke: var(--primeColor);
    stroke-width: calc(var(--strokeWidth)*1.2);
  }

  .character-eye {
    fill: var(--primeColor);
  }

  .character-mouth {
    stroke: var(--primeColor);
    stroke-width: var(--strokeWidth);
    fill: none;
  }
}

@layer energy {
  .energy-fragment {
    fill: hsl(from var(--primeColor) h s calc(l -  25));
    pointer-events: none;

    transition-property: scale, fill;
    transition-duration: .2s;
    transition-timing-function: ease;
  }
  .glow {
    filter: blur(2px);
  }
  .in-range {
    cursor: pointer;
    scale: 1.5;
    fill: var(--primeColor);

    pointer-events: all;
  }
}

@layer energyBar {

  .energy-bar-bg {
    stroke: var(--secondColor);
    stroke-width: calc(var(--strokeWidth) * 2.25);
    stroke-linecap: round;
    fill: none;
  }

  .energy-meter {
    stroke: var(--primeColor);
  }
  
}

@layer origins {
  .origin {
    cursor: pointer;
    opacity: .5;
    transition: scale .2s ease;

    &:hover {
      scale: 2;
    }
  }
}