@layer base {
  body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

@layer display {
  .main-display {
    background-color: hsl(0, 0%, 20%);
    max-width: 500px;
  }

  .origin-marker {
    fill: blue;
    opacity: 0;
  }
}